# -----------------------------
# IDE
# -----------------------------
.idea/
.vscode/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Logs
# -----------------------------
*.log
.cache/
artifacts/
assets/maps/material_heatmaps/*.i0r

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db
